# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Kivy
*.kv~
.kivy/

# Buildozer
.buildozer/
bin/

# Environnement virtuel
TTSenv/
venv/
ENV/
Dockerfile

# IDE
.idea/
.vscode/
*.swp
*.swo

#dossiers non nécessaires
kotlin & java/
old/

# Système d'exploitation
.DS_Store
Thumbs.db

# Fichiers spécifiques au projet
_pycache__/
TTSenv/
*.spec
*.bat
*.sh
*.tsx

# Logs et bases de données
*.log
*.sqlite3 
