# Dépendances de base
kivy==2.3.0

# Interface utilisateur
pywebview>=5.4  # Native webview component with icon support

# Traitement des documents
beautifulsoup4>=4.12.2
lxml>=4.9.3
PyPDF2>=3.0.1
pdfminer.six>=20221105

# Utilitaires
python-dateutil>=2.8.2
requests>=2.31.0
pillow>=10.0.0

# Gestion des fichiers
python-magic>=0.4.27

# TTS et Audio
edge-tts>=6.1.9
aiohttp>=3.8.0  # Version compatible avec edge-tts

# Dépendances spécifiques à la plateforme
PyObjC>=11.0; sys_platform == 'darwin'
pyobjc

# Nouvelles dépendances
bottle>=0.13.2
proxy_tools>=0.1.0
typing_extensions>=4.12.2